@import "bootstrap";
@import "tasks";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

// universal
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

//  header
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #343a40;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: #343a40;
  text-decoration: none;
}

// footer
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  font-size: 10px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 8px;
}

// home
.home {
  color: #f8f9fa;
  font-size: 12px;
  background-size:cover;
  background-image: url("task.jpg");
  padding: 12%;
}

ul {
	padding-left: 0;
}

ul li {
    list-style: none;
}

ul #vertical_line li {
	display:inline;
	list-style-type:none;
	padding-left:10px;
	border-left:1px solid black;
}

ul #vertical_line li:first-child {
	border-left:0;
	padding-left:0;
}

li.margin-right {
	margin-right: 80px;
}

p.double-bottom {
	border-bottom: dotted;
	color: red;
	padding-bottom: 10px;
}

div.microtasks {
  margin: 0 15px;
}

div.box {
	padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
}

task_img.img {
	width: 200px;
  height: 200px;
}

// forms
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

// sidebar
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

// .gravatar {
//   float: left;
//   margin-right: 10px;
//   // width: 80px !important;
//   // height: 80px !important;
// }
//
// .gravatar_edit {
//   margin-top: 15px;
// }

td.gravatar img {
  width: 80px;
  height: 80px;
}

h1.gravatar img {
  width: 80px;
  height: 80px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
    width: 40px;
    height: 40px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
